*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    height: 100vh;
}
section:nth-child(1){
    background: #c4c4c4;
}
section:nth-child(2){
    background: #f39e9e;
}
section:nth-child(3){
    background: #7c5858;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.overlay .text{
    background: #3f3f3f;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
}
.overlay .text p{
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.overlay .text p:not(:last-child){
    padding-bottom: 1rem;
}